/* MASTER STYLES */
body {
    margin: 0%;
    font-family: "Lato", sans-serif;
    max-width: 1200px;
    margin: auto;
    --max-width: 1200px;
    /* background-color: rgb(245,245,245); */
}

/*.container {
    display: grid;
    grid-template-columns: 1fr;
}*/

/* NAV STYLES */
.Logo {
    /* background-color: rgb(173, 173, 173); */
    background-color: rgba(141, 141, 142, 0.2);
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 150px;
    align-items: center;
    justify-content: center;
}

.navigation {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    border-bottom: 2px solid rgb(185, 22, 22);
    border-top: 2px solid rgb(185, 22, 22);
    font-size: large;
    background-color: rgba(175, 6, 6, 0.2); /* Set the background color */
}

.navigation > div {
    font-size: 1em;
    text-transform: uppercase;
}

.nav-link-wrapper {
    height: 30x;
}

.nav-link-wrapper a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: color 0.5s;
    font-weight: bold;
}

.nav-link-wrapper a:hover{
    color: rgb(185, 22, 22);
}

.hamburger {
    position: absolute;
    /* top: .75rem;
    right: 1rem; */
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 70px;
    height: 21px;
}

.hamburger .bar {
    display: block;
    height: 3px;
    width: 100%;
    margin: 5px auto;
    background-color: rgb(214, 214, 23);
    border-radius: 10px;
}

.quote {
    text-align: center;
    padding: 10px;
    background-color: whitesmoke;
    font-size: large;
    font-weight: bold;
    font-family: "Lato", sans-serif;
    /* color: black; */
}

.comingsoon {
    text-align: center;
    padding: 100px;
    font-size: xx-large;
}

/* PORTFOLIO STYLES */
.portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item-wrapper {
    position: relative;
}

.portfolio-img-background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.85;
    height: 150px;
    width: 100%;
}

.img-text-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    color: white;
    font-size: large;

}

.blurbox {
  background: rgb(0,0,0, 0.6);
  color: white;
  border: 2px solid #f1f1f1;
  z-index: 2;
  width: 100%;
  padding: 10px;
  text-align: center;
}

.img-text-wrapper a {
    text-decoration: none;
    transition: color 0.5s;
    color: white;
}

.img-text-wrapper a:hover{
    color: rgb(0, 204, 255);
}

/******** ABOUT TUTORING *******/

.about-description {
    position: relative;
}

.about-text {
    width: auto;
    text-align: center;
    /* border:2px solid rgb(185, 22, 22); */
    background-color: rgb(238, 238, 238);
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 7%;
    padding-left: 7%;
    border-radius: 10px;
}

.about_tutoring_text {
    max-width: 800px;
    text-align: center;
    padding: 10px;
    position: relative;
}


.tutor_btn {
    text-decoration: none;
    transition: color 0.5s;
    font-weight: bold;
    /* color: rgb(198, 198, 27); */
    display: inline;
}

.tutor_btn a {
    text-decoration: none;
    color: rgb(198, 198, 27);
    transition: color 0.5s;
    font-weight: bold;
}

.tutor_btn a:hover{
    color:rgb(185, 22, 22);
    /* rgb(0, 204, 255); */
}

.contactmebtn {
    max-width: 135px;
    margin: auto;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background: rgb(226, 226, 31);
    text-align: center;
    cursor: pointer;  
    font-weight: bold;
    text-decoration: none;
    transition: color 0.5s;
}

.contactmebtn a {
    text-decoration: none;
    transition: color 0.5s;
    color:rgb(185, 22, 22);
}

.contactmebtn a:hover{
    color: rgb(0, 204, 255);
    /* rgb(0, 204, 255); */
}

.returnHomeBtn {
    max-width: 135px;
    margin: auto;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background: rgb(226, 226, 31);
    text-align: center;
    cursor: pointer;  
    font-weight: bold;
    text-decoration: none;
    transition: color 0.5s;
    color:rgb(185, 22, 22)
}

.testimony_wrapper {
    position: relative;
    margin-left: 10%;
    /* background-color: rgb(238,238,238); */
    margin-right: 10%;
}

.testi_comment_wrapper {
    display: flex;
    width: 100%;
}

.testi_col {
    flex: 1;
    margin: 0 1%;
    /* border: 2px solid rgb(185, 22, 22); */
    border-radius: 10px;
    text-align: center;
    overflow: hidden; 
    background-color: rgb(238, 238, 238);
    display: flex;
    flex-direction: column;
    align-items: center;
}

 .testi_words {
    padding: 5px;
    padding-bottom: 100px;
 }

.five_stars {
    width: 150px;
    height: 30px;
}

.star_and_name {
    position: absolute;
    bottom: 0;
    margin-top: 80;
}

/****Notes styles******/

.portfolio-items-wrapper-notes_single {
    display: grid;
    grid-template-columns: 1fr;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.portfolio-items-wrapper-notes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}


.portfolio-item-wrapper-notes {
    position: relative;
}


.portfolio-img-background-notes {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.85;
    height: 150px;
    width: 100%;
}

.portfolio-img-background-coursework {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.85;
    height: 150px;
    width: 100%;
    background-color:rgb(220,220,220);
    /* border-bottom: 2px solid rgb(185, 22, 22); */
}

.img-text-wrapper-notes {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    color: white;
    font-size: large;

}

.img-text-wrapper-notes a {
    text-decoration: none;
    transition: color 0.5s;
    color: white;
}

.img-text-wrapper-notes a:hover{
    color: rgb(0, 204, 255);
}

.search-container{
    width: 100%;
    height: 8vh;
    /* display: flex; */
}

.search-form {
    width: 100%;
    height: 8vh;
    display: flex;
}

.search-form-flex {
    width: 100%;
    align-items: center;
    padding: -20px;
}

.search-form .search-input {
    flex: 1;
    border: none;
    outline: none;
    font-size:x-large;
    font-weight: bold;
    padding-left: 20px;
}

.search-input[type=text] {
    color: rgb(108,117,126);
    width: 70%;
    /* align-items: center; */
}

.search-form .search-button {
    border: none;
    outline: none;
    letter-spacing: 1px;
    padding: 10px 8vw;
    background-color: rgb(185, 22, 22);
    color: rgb(198, 198, 27);
    font-weight: bold;
    font-size: x-large;
    cursor: pointer;
}

.search-form .fa-search {
    align-self: center;
    padding: 10px 20px;
    color: rgb(108,117,126);
}

/***************CONTACTS*************/

.contact-section{
    padding: 40px;
}

.contact-section h3{
    text-align: center;
    color:black;
}

.contact-form{
    max-width: 700px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}

.contact-form-text{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    padding: 10px 10px;   
    border-width: 2px;
    border-color: rgb(185, 22, 22); 
    border-radius: 5px;
}

textarea.contact-form-text{
    resize:none;
    height: 200px;
    border-width: 2px;
}

.contact-form-btn{
    float: right;
    color:rgb(226, 226, 31);
    background-color: rgb(185, 22, 22);
    padding: 12px 40px;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    font-weight: bold;

    /* max-width: 135px;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    background: rgb(226, 226, 31);
    text-align: center;
    text-decoration: none;
    transition: color 0.5s; */
}




/*********** INDEX ***********/
.index-description {
    text-align: center;
    padding: 10px;
    margin: 20px;
}

.website-introduction {
    text-align: center;
    padding: 10px;
    margin-left: 15%;
    margin-right: 15%;
    background-color: rgb(238,238,238);
    border-radius: 10px;
}

.tutoring {
    text-align: center;
    padding: 10px;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 10px;
    background-color: rgb(238,238,238);
}

hr {
    border-top: 2px solid rgb(185, 22, 22);
}


:root {
    --h3-color: color: rgb(198, 198, 27);
 }
  
    h3 {
        color: var(--h3-color);
    }

    .website-introduction {
        --h3-color: black;
    }

    .provideindex {
        --h3-color: rgb(198, 198, 27);
    }

:root {
    --font-weight: normal;
  }
  
  h3 {
    font-weight: var(--font-weight);
  }
  
  .website-introduction {
    --font-weight: lighter;
  }
  
  .provideindex {
    --font-weight: 700;
  }

  .contact-section {
    --font-weight: 700;
  }

.provideindex {
    display: flex;
    background-color: rgb(238,238,238);
    height: 150px;
    border-radius: 10px;
}

.provideindex_text {
    width: 300px;
    height: 150px;
    /* border: 2px solid rgb(185, 22, 22); */
    margin-right: 10px;
    margin-top: 10px;
    text-align: center;
}

.Notes_pic {
    width: 200px;
    height: 150px;
    float: left;
    /* border: 2px solid rgb(185, 22, 22); */
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.exercise_pic {
    width: 250px;
    height: 150px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
} 

.Coursework_pic {
    width: 250px;
    height: 150px;
    float: right;
    /* margin-right: 10px; */
    margin-bottom: 10px;
    border-radius: 10px;
} 


/**********COURSEWORK***********/

.coursework_dropdown{
    display: flex;
    /* justify-content: space-between; */
    border-bottom: 2px solid rgb(185, 22, 22);
    /* border-top: 2px solid rgb(185, 22, 22); */
    font-size: large;
    flex-direction: column;
    align-items: flex-start;
    display: grid;
}

.coursework-example-container{
    display: grid;
    grid-template-columns: 80% auto;
}

.coursework-quote{
    text-align: center;
    padding: 10px;
    width: 100%;
    background-color: whitesmoke;
    font-size: large;
    font-weight: bold;
    font-family: "Lato", sans-serif;
    /* border-bottom: 2px solid rgb(185, 22, 22); */
    /* border: 2px solid rgb(185, 22, 22); */
}

.portfolio-item-wrapper-notes-coursework{
    position: relative;
}

.drop_down {
    flex-direction: column;
    justify-content: space-between;
    width: 70px;
    height: 99%;
    display: inline-block;
    width: 100%;
    background-color: whitesmoke;
    /* border-bottom: 2px solid rgb(185, 22, 22); */
}

.drop_down .bar {
    display: block;
    height: 3px;
    width: 100%;
    margin: 5px auto;
    background-color: rgb(214, 214, 23);
    border-radius: 10px;
    position: relative;
}

.drop_down .bar:nth-child(1){
    width: 30px;
    transform: translateY(32px) rotate(45deg);
}

.drop_down .bar:nth-child(2){
    width: 30px;
    transform: translateY(44px) rotate(-45deg);
}

.drop_down.active .bar:nth-child(1){
    width: 30px;
    transform: translateY(45px) rotate(-45deg);
}

.drop_down.active .bar:nth-child(2){
    width: 30px;
    transform: translateX(-20px) translateY(38px) rotate(45deg);
}

.portfolio-item-wrapper-notes-coursework{
    display: none;
    width: 100%;
    text-align: center;
    /* padding-top: 10px; */
    flex-direction: column;
}

.portfolio-item-wrapper-notes-coursework.active{
    display: flex;
} 

/************ FOOTER *************/
.footer {
    background: white;
    height: 100px;
    position: relative;
    width: auto;
    margin-top: auto;
}

.footer-content {
    height: 60px;
    text-align: center;
    line-height: 65px;
    font-size: 15px;
    background-color: rgb(238,238,238);
}

.footer-bottom {
    background: rgb(173, 173, 173);
    height: 40px;
    width: 100%;

    text-align: center;
    position: relative;
    padding-top: 20px;
    font-size: small;
}



/******** NOTES PAGES *********/
.notes-content-wrapper{
    margin: 0 auto;
}

.notes-content-header {
    width: calc(0.6 * var(--max-width));
    margin: auto;
    text-align: center;
    /* background-image: url(images/matnote1.jpg); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid white;
}

.notes-content-intro {
    font-size: small;
    
}

.notes-content-subheader {
    text-align: center;
}

.notes-content{
    width: calc(0.6 * var(--max-width));
    margin: auto;
}

.notes-content-picture {
    transform: scale(0.8);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

table, th, td{
    /* border: 2px solid black; */
    margin: auto;
    width: calc(0.5 * var(--max-width));
    font-size: large;
    border-radius: 5px;
}

.notes-table-header{
    background-color: #d9d8d8;
}

.notes-table-data-pro{
    background-color: greenyellow;
    text-align: left;
}

.notes-table-data-con{
    background-color: rgba(255, 0, 0, 0.712);
    text-align: left;
}

.notes-table-header-maths{
    background-color: rgba(74, 223, 249, 0.779);
}

.notes-table-math-one{
    text-align: center;
}

.worked-example{
    text-align: center;
}

.notes-table-odd{
    background-color: rgba(38, 254, 254, 0.413);
}

.notes-table-even{
    background-color: rgba(214, 217, 210, 0.811);
}



@media only screen and (max-width: 1000px) { /*At 1000px and below, what we provide goes wierd, put into column*/
    .provideindex {
        /* display: flex; */
        background-color: rgb(238,238,238);
        height: 500px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 10px;
        /* border: 2px solid rgb(185, 22, 22); */
        
    }
    
    .provideindex_text {
        width: 300px;
        height: 150px;
        /* border: 2px solid rgb(185, 22, 22); */
        margin-right: 10px;
        margin-top: 10px;
        text-align: center;
    }
    
    .Notes_pic {
        width: 200px;
        height: 150px;
        float: right;
        /* border: 2px solid rgb(185, 22, 22); */
        margin-right: 10px;
        margin-bottom: 10px;
    }
    
    .exercise_pic {
        width: 200px;
        height: 150px;
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
    } 
    
    .Coursework_pic {
        width: 200px;
        height: 150px;
        float: right;
        /* margin-right: 10px; */
        margin-bottom: 10px;
    } 
}

@media only screen and (max-width: 730px) { 
    .notes-content-header {
        width: calc(0.5 * var(--max-width));
        margin: auto;
        text-align: center;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border: 2px solid white;
    }
}


@media only screen and (max-width: 650px) { /*Nav bar squishes, need to collapse*/
    .hamburger{
        display: block;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        padding-bottom: 20px;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        width: 30px;
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        width: 30px;
        transform: translateY(-8px) rotate(-45deg);
    }

    .navigation{
        /* display: none; */
        display: flex;
        justify-content: space-between;
        padding: 30px;
        border-bottom: 2px solid rgb(185, 22, 22);
        border-top: 2px solid rgb(185, 22, 22);
        font-size: large;
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-link-wrapper{
        display: none;
        width: 100%;
        text-align: center;
        padding-top: 10px;
        flex-direction: column;
    }

    .nav-link-wrapper.active{  /*NOT GETTING ACTIVE*/
        display: flex;
        
    }

}




/* If 650px doesnt fix everything add another */
@media only screen and (max-width: 602px) { /*My phone width is 393, so say 400 and below*/
    .provideindex {
        /* display: flex; */
        background-color: rgb(238,238,238);
        height: 1000px;
        display: grid;
        grid-template-columns: 1fr;
        padding: 10px;
        /* border: 2px solid rgb(185, 22, 22); */
        
    }
    
    .provideindex_text {
        width: 300px;
        height: 150px;
        /* border: 2px solid rgb(185, 22, 22); */
        margin-right: 10px;
        margin-top: 10px;
        text-align: center;
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }
    
    .Notes_pic {
        width: 200px;
        height: 150px;
        float: right;
        /* border: 2px solid rgb(185, 22, 22); */
        margin-right: 10px;
        margin-bottom: 10px;
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }
    
    .exercise_pic {
        width: 200px;
        height: 150px;
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
        position: relative;
        margin-left: auto;
        margin-right: auto;
    } 
    
    .Coursework_pic {
        width: 200px;
        height: 150px;
        float: right;
        /* margin-right: 10px; */
        margin-bottom: 10px;
        position: relative;
        margin-left: auto;
        margin-right: auto;
    } 

    .website-introduction {
        text-align: center;
        padding: 10px;
        margin-left: 5%;
        margin-right: 5%;
        background-color: rgb(238,238,238);
    }


    .tutoring {
        text-align: center;
        padding: 10px;
        margin-left: 10%;
        margin-right: 10%;
        background-color: rgb(238,238,238);
    }

    .drop_down .bar:nth-child(1){
        width: 30px;
        transform: translateY(45px) rotate(45deg);
    }
    
    .drop_down .bar:nth-child(2){
        width: 30px;
        transform: translateY(57px) rotate(-45deg);
    }
    
    .drop_down.active .bar:nth-child(1){
        width: 30px;
        transform: translateY(58px) rotate(-45deg);
    }
    
    .drop_down.active .bar:nth-child(2){
        width: 30px;
        transform: translateX(-20px) translateY(51px) rotate(45deg);
    }

    .search-container{
        width: 100%;
        height: 15.5vh;
        display:inline-block;
        align-items: center;
        justify-content: center;
        float: none;
    }
    
    .search-form {
        width: 100%;
        height: 10vh;
        display: block;
    }
    
    .search-form .search-input {
        flex: 1;
        border: none;
        outline: none;
        font-size:x-large;
        font-weight: bold;
        /* padding-left: 20px; */
    }
    
    .search-input[type=text] {
        color: rgb(108,117,126);
        display: flex;
        width: 10%;
    }
    
    .search-form .search-button {
        border: none;
        outline: none;
        display: block;
        letter-spacing: 1px;
        width: 100%;
        background-color: rgb(185, 22, 22);
        color: rgb(198, 198, 27);
        font-weight: bold;
        font-size: x-large;
        cursor: pointer;
    }
    
    .search-form .fa-search {
        align-self: center;
        /* padding: 10px 20px; */
        color: rgb(108,117,126);
    }

    .search-form-flex {
        display: flex;
    }

    /*********** NOTES SMALLER ************/
    .notes-content-wrapper{
        margin: 0 auto;
    }
    
    .notes-content-header {
        width: calc(0.33 * var(--max-width));
        margin: auto;
        text-align: center;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border: 2px solid white;
    }
    
    .notes-content-intro {
        font-size: small;
        
    }
    
    .notes-content-subheader {
        text-align: center;
    }
    
    .notes-content{
        width: calc(0.32 * var(--max-width));
        margin: auto;
    }
    
    table, th, td{
        /* border: 2px solid black; */
        margin: auto;
        width: calc(0.32 * var(--max-width));
        font-size: medium;
        border-radius: 5px;
    }
    
    .notes-table-header{
        background-color: #d9d8d8;
    }
    
    .notes-table-data-pro{
        background-color: greenyellow;
        text-align: left;
    }
    
    .notes-table-data-con{
        background-color: rgba(255, 0, 0, 0.712);
        text-align: left;
    }

    .testi_comment_wrapper {
        flex-direction: column; 
      }

    .testi_col {
        margin: 1%;
        position: relative;
      }
    
    .testi_words {
        padding: 5px;
        padding-bottom: 100px;
     }
    
    .five_stars {
        width: 100px;
        height: 20px;
    }
    
    .star_and_name {
        position: absolute;
        bottom: 0;
    }

}


@media only screen and (max-width: 530px) {
    
    .img-text-wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        text-align: center;
        color: white;
        font-size: small;
    
    }
    
    .blurbox {
      background: rgb(0,0,0, 0.6);
      color: white;
      border: 2px solid #f1f1f1;
      z-index: 2;
      width: 100%;
      padding: 10px;
      text-align: center;
      /* font-size: small; */
    }
    
    .img-text-wrapper a {
        text-decoration: none;
        transition: color 0.5s;
        color: white;
    }
    
    .img-text-wrapper a:hover{
        color: rgb(0, 204, 255);
    }

}

@media only screen and (max-width: 420px) {
    .logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 300px;
        height: 110px;
        align-items: center;
        justify-content: center;
    }
    .img-text-wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        text-align: center;
        color: white;
        font-size: x-small;
    
    }
    
    .blurbox {
      background: rgb(0,0,0, 0.6);
      color: white;
      border: 2px solid #f1f1f1;
      z-index: 2;
      width: 100%;
      padding: 10px;
      text-align: center;
      /* font-size: small; */
    }
    
    .img-text-wrapper a {
        text-decoration: none;
        transition: color 0.5s;
        color: white;
    }
    
    .img-text-wrapper a:hover{
        color: rgb(0, 204, 255);
    }

    h1{
        font-size: 25px;
    }
}

@media only screen and (max-width: 420px) {
    .drop_down .bar:nth-child(1){
        width: 30px;
        transform: translateY(58px) rotate(45deg);
    }
    
    .drop_down .bar:nth-child(2){
        width: 30px;
        transform: translateY(70px) rotate(-45deg);
    }
    
    .drop_down.active .bar:nth-child(1){
        width: 30px;
        transform: translateY(71px) rotate(-45deg);
    }
    
    .drop_down.active .bar:nth-child(2){
        width: 30px;
        transform: translateX(-20px) translateY(64px) rotate(45deg);
    }
}

